@mixin AboutMePageStylesheet() {
    #about-me-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;

        main {
            section {
                font-family: Arial, Helvetica, sans-serif;

                h1 {
                    span {
                        font-style: italic;
                    }
                }

                p {
                    line-height: 150%;
                    text-align: justify;
                }
            }

            #about-me-story {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    #about-me-self-portrait {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }

            // RESPONSIVENESS
            @media screen and (min-width: 250px) {
                margin-top: 50px;
                margin-bottom: 50px;

                section {
                    width: 85%;
                    max-width: 700px;
                    margin: 0 auto;
                    margin-bottom: 50px;

                    h1 {
                        font-size: 24px;
                        margin: 0;
                        text-align: center;

                        span {
                            font-style: italic;
                        }
                    }

                    p {
                        line-height: 150%;
                        font-size: 16px;
                        text-align: justify;
                    }
                }

                #about-me-story {
                    p {
                        #about-me-self-portrait {
                            margin: 10px auto 20px;
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }

            @media screen and (min-width: 300px) {
                #about-me-story {
                    p {
                        #about-me-self-portrait {
                            width: 250px;
                            height: 250px;
                        }
                    }
                }
            }

            @media screen and (min-width: 380px) {
                #about-me-story {
                    p {
                        #about-me-self-portrait {
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
            }

            @media screen and (min-width: 420px) {
                section h1 {
                    text-align: left;
                }

                #about-me-story {
                    p {
                        #about-me-self-portrait {
                            margin: 10px 0 20px;
                        }
                    }
                }
            }

            @media screen and (min-width: 600px) {
                #about-me-story {
                    p {
                        #about-me-self-portrait {
                            margin: 0;
                            margin-left: 20px;
                            margin-bottom: 10px;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}