@mixin ContactPageStylesheet() {
    #contact-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #fdfdfd;
                border: thin solid #e2e2e2;

                .form-field {
                    display: flex;
                    flex-direction: column;

                    input {
                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        resize: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    .dropdown-container {
                        .dropdown-button {
                            background-color: #e8e8ee;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border: thin solid #b1aeae;
                            cursor: pointer;

                            .arrow {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: auto;

                                .arrow-line {
                                    width: 100%;
                                    background-color: #838080;
                                }
                            }
                        }

                        .dropdown-menu {
                            list-style: none;
                            background-color: #f5f5f5;
                            border: thin solid #b1aeae;
                            border-top: none;

                            &.hide {
                                display: none;
                            }

                            li {
                                cursor: pointer;

                                &:not(:last-child) {
                                    border-bottom: thin solid #d1cece;
                                }
                            }
                        }
                    }
                }

                button {
                    background-color: #3a82ca;
                    color: #fff;
                    border: none;
                    width: 100%;
                    cursor: pointer;

                    &:hover {
                        background-color: #327ac3;
                    }
                }
            }

            // RESPONSIVENESS
            @media screen and (min-width: 250px) {
                padding: 150px 0;

                form {
                    width: 72%;
                    max-width: 400px;
                    padding: 40px 20px;
                    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

                    .form-field {
                        margin-bottom: 30px;

                        label, .label {
                            margin-bottom: 10px;
                            font-size: 16px;
                        }

                        input {
                            padding: 5px;
                            font-size: 14px;
                        }

                        textarea {
                            padding: 10px;
                            height: 100px;
                            font-size: 14px;
                        }

                        .dropdown-container {
                            .dropdown-button {
                                padding: 5px 10px;

                                span {
                                    font-size: 16px;
                                }

                                .arrow {
                                    width: 25px;
                                    height: 25px;

                                    .arrow-line {
                                        height: 2px;

                                        &:first-child {
                                            transform: rotate(35deg) translateX(1px);
                                        }

                                        &:last-child {
                                            transform: rotate(-35deg) translateX(-2px);
                                        }
                                    }
                                }
                            }

                            .dropdown-menu {
                                margin: 0;
                                padding: 0 5px;

                                li {
                                    padding: 10px 5px;
                                    font-size: 14px;

                                    &:hover {
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        font-size: 18px;
                        padding: 15px 20px;
                        margin-top: 40px;
                    }
                }
            }

            @media screen and (min-width: 400px) {
                form {
                    padding: 40px;
                }
            }

            @media screen and (min-width: 550px) {
                padding: 200px 0;
            }
        }
    }
}