@mixin ContactPageStylesheet() {
    #contact-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;

        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;

            .flash-message {
                position: fixed;
                left: 50%;
                transform: translateX(-50%);
                background-color: #f2b8b8;
                opacity: 0%;
                z-index: 999;
                display: none;

                &.success {
                    background-color: #8ff37f;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #f9f9f9;
                border: thin solid #e2e2e2;

                .form-field {
                    display: flex;
                    flex-direction: column;

                    input {
                        &:focus {
                            outline: none;
                        }
                    }

                    textarea {
                        resize: none;

                        &:focus {
                            outline: none;
                        }
                    }

                    .dropdown-container {
                        .dropdown-button {
                            background-color: #e8e8ee;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border: thin solid #b1aeae;
                            cursor: pointer;

                            .arrow {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-left: auto;

                                .arrow-line {
                                    width: 100%;
                                    background-color: #838080;
                                }
                            }
                        }

                        .dropdown-menu {
                            list-style: none;
                            background-color: #f5f5f5;
                            border: thin solid #b1aeae;
                            border-top: none;

                            &.hide {
                                display: none;
                            }

                            li {
                                cursor: pointer;

                                &:not(:last-child) {
                                    border-bottom: thin solid #d1cece;
                                }
                            }
                        }
                    }
                }

                button {
                    background-color: #3a82ca;
                    color: #fff;
                    border: none;
                    width: 100%;
                    cursor: pointer;

                    &:hover {
                        background-color: #327ac3;
                    }
                }
            }

            // RESPONSIVENESS
            @media screen and (min-width: 250px) {
                padding: 150px 0;

                .flash-message {
                    padding: 15px 35px;
                    font-size: 16px;
                    width: 50%;
                    line-height: 125%;
                }

                form {
                    width: 72%;
                    max-width: 400px;
                    padding: 40px 20px;
                    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

                    .form-field {
                        margin-bottom: 30px;

                        label, .label {
                            margin-bottom: 10px;
                            font-size: 16px;
                        }

                        input {
                            padding: 5px;
                            font-size: 14px;
                        }

                        textarea {
                            padding: 10px;
                            height: 100px;
                            font-size: 14px;
                        }

                        .dropdown-container {
                            .dropdown-button {
                                padding: 5px 10px;

                                span {
                                    font-size: 16px;
                                }

                                .arrow {
                                    width: 25px;
                                    height: 25px;

                                    .arrow-line {
                                        height: 2px;

                                        &:first-child {
                                            transform: rotate(35deg) translateX(1px);
                                        }

                                        &:last-child {
                                            transform: rotate(-35deg) translateX(-2px);
                                        }
                                    }
                                }
                            }

                            .dropdown-menu {
                                margin: 0;
                                padding: 0 5px;

                                li {
                                    padding: 10px 5px;
                                    font-size: 14px;

                                    &:hover {
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        font-size: 18px;
                        padding: 15px 20px;
                        margin-top: 40px;
                    }
                }
            }

            @media screen and (min-width: 400px) {
                form {
                    padding: 40px;
                }
            }

            @media screen and (min-width: 600px) {
                .flash-message {
                    max-width: 350px;
                }
            }

            @media screen and (min-width: 2000px) {
                padding: 7.5vw 0;

                .flash-message {
                    padding: 0.75vw 1.75vw;
                    font-size: 0.8vw;
                    max-width: 17.5vw;
                }

                form {
                    max-width: 20vw;
                    padding: 2vw;
                    box-shadow: 0.15vw 0.15vw 0.15vw rgba(0,0,0,0.1);

                    .form-field {
                        margin-bottom: 1.5vw;

                        label, .label {
                            margin-bottom: 0.5vw;
                            font-size: 0.8vw;
                        }

                        input {
                            padding: 0.25vw;
                            font-size: 0.7vw;
                        }

                        textarea {
                            padding: 0.5vw;
                            height: 5vw;
                            font-size: 0.7vw;
                        }

                        .dropdown-container {
                            .dropdown-button {
                                padding: 0.25vw 0.5vw;

                                span {
                                    font-size: 0.8vw;
                                }

                                .arrow {
                                    width: 1.25vw;
                                    height: 1.25vw;

                                    .arrow-line {
                                        height: 0.1vw;

                                        &:first-child {
                                            transform: rotate(35deg) translateX(0.05vw);
                                        }

                                        &:last-child {
                                            transform: rotate(-35deg) translateX(-0.1vw);
                                        }
                                    }
                                }
                            }

                            .dropdown-menu {
                                padding: 0 0.25vw;

                                li {
                                    padding: 0.5vw 0.25vw;
                                    font-size: 0.7vw;

                                    &:hover {
                                        padding-left: 0.5vw;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        font-size: 0.9vw;
                        padding: 0.75vw 1vw;
                        margin-top: 2vw;
                    }
                }
            }
        }
    }
}