@mixin HomePageStylesheet() {
    #home-page {
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            flex-direction: column;

            #teaser-section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 100px 0;

                #camera-shutter {
                    margin-left: 200px;
                    width: 500px;
                    height: 500px;
                    position: relative;
                    overflow: hidden;

                    #lens {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: inherit;
                        height: inherit;
                        border-radius: 50%;
                        outline: solid 250px #fff;
                        z-index: 2;
                    }

                    .cover {
                        position: absolute;
                        z-index: 1;
                        width: 1000px;
                        height: 500px;
                        background-color: #000;

                        &.n1 {
                            background-color: red;
                            top: -470px;
                            left: 0;
                            transform: rotate(0deg);
                        }

                        &.n2 {
                            background-color: blue;
                            top: -500px;
                            left: 0px;
                            transform: rotate(60deg);
                        }

                        &.n3 {
                            background-color: green;
                            top: 500px;
                            left: 0;
                            transform: rotate(-60deg);
                        }

                        &.n4 {
                            background-color: yellow;
                            top: 470px;
                            left: 0;
                            transform: rotate(0deg);
                        }

                        &.n5 {
                            background-color: purple;
                            top: 0;
                            left: -790px;
                            transform: rotate(240deg);
                        }

                        &.n6 {
                            background-color: pink;
                            top: 0;
                            left: -790px;
                            transform: rotate(-240deg);
                        }
                    }

                    .teaser-image {
                        height: 100%;
                        width: 100%;
                        height: inherit;
                        width: inherit;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                        &.hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}