@mixin HomePageStylesheet() {
    #home-page {
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            flex-direction: column;

            #teaser-section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 150px 0 100px;

                #teaser-section-text {
                    h1 {
                        font-family: "PlaywriteCU-Regular", sans-serif;
                        font-size: 40px;
                    }

                    p {
                        font-family: serif;
                        font-size: 24px;
                    }
                }

                #camera {
                    $camera_bg: #25282d;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $camera_bg;
                    padding: 100px 270px 50px;
                    border-radius: 50px;
                    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
                    position: relative;
                    margin-left: 150px;

                    &.hide {
                        background-color: transparent;
                        border-color: transparent;
                        box-shadow: none;

                        #view-finder {
                            display: none;
                        }

                        #camera-shutter {
                            #lens {
                                outline-color: #fff;
                            }
                        }
                    }

                    #view-finder {
                        width: 500px;
                        height: 250px;
                        position: absolute;
                        top: -14%;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: $camera_bg;
                        border-top-left-radius: 100px;
                        border-top-right-radius: 100px;
                    }

                    #camera-shutter {
                        width: 500px;
                        height: 500px;
                        position: relative;
                        overflow: hidden;
                        transform: scale(0.94);

                        #lens {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            border-radius: 50%;
                            outline: solid 250px $camera_bg;
                            z-index: 2;
                        }

                        .cover {
                            position: absolute;
                            width: 0;
                            height: 0;
                            background-color: transparent;

                            &.n1 {
                                top: -750px;
                                left: 0px;
                                border-top: 0px solid transparent;
                                border-bottom: 1000px solid #1e1e1e;
                                border-left: 0px solid transparent;
                                border-right: 500px solid transparent;
                                transform: translate(0, -200px);
                            }

                            &.n2 {
                                top: -250px;
                                left: -1px;
                                border-top: 1000px solid #151619;
                                border-bottom: 0px solid transparent;
                                border-left: 500px solid transparent;
                                border-right: 500px solid transparent;
                                transform: translate(230px, 0px);
                            }

                            &.n3 {
                                top: -250px;
                                left: 0px;
                                border-top: 1000px solid transparent;
                                border-bottom: 0px solid transparent;
                                border-left: 0px solid transparent;
                                border-right: 500px solid #16181c;
                                transform: translate(230px, 0);
                            }

                            &.n4 {
                                top: 250px;
                                left: 250px;
                                border-top: 0px solid transparent;
                                border-bottom: 1000px solid transparent;
                                border-left: 0px solid transparent;
                                border-right: 500px solid #232329;
                                transform: translate(-140px, 200px);
                            }

                            &.n5 {
                                top: 250px;
                                left: -252px;
                                border-top: 0px solid transparent;
                                border-bottom: 1000px solid #1a1b1d;
                                border-left: 500px solid transparent;
                                border-right: 500px solid transparent;
                                transform: translate(-240px, -12px);
                            }

                            &.n6 {
                                top: 250px;
                                left: -250px;
                                border-top: 0px solid transparent;
                                border-bottom: 1000px solid transparent;
                                border-left: 500px solid #17171a;
                                border-right: 0px solid transparent;
                                transform: translate(-120px, -200px);
                            }
                        }

                        .teaser-image {
                            height: 100%;
                            width: 100%;
                            height: inherit;
                            width: inherit;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;

                            &.hide {
                                display: none;
                            }
                        }
                    }
                }
            }

            #testimonials-section {
                background-color: #eeeeee;
                padding: 80px 50px 40px;
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .testimonial {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &:not(:last-child) {
                        margin-right: 100px;
                    }

                    .client-picture {
                        width: 300px;
                        height: 300px;
                        border-radius: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-bottom: 50px;
                    }

                    q {
                        margin-bottom: 30px;
                        font-size: 18px;
                    }

                    p {
                        font-size: 20px;
                        font-style: italic;
                    }
                }
            }
        }
    }
}