@mixin cameraShutterSize($size) {
    #camera-shutter {
        $width: $size;
        $height: $width;

        width: $width;
        height: $height;

        #lens {
            outline-width: calc($width / 2);
        }

        .cover {
            &.n1 {
                border-bottom-width: calc($width * 2);
                border-right-width: $height;
            }

            &.n2 {
                border-top-width: calc($width * 2);
                border-left-width: $height;
                border-right-width: $height;
            }

            &.n3 {
                border-top-width: calc($width * 2);
                border-right-width: $height;
            }

            &.n4 {
                border-bottom-width: calc($width * 2);
                border-right-width: $height;
            }

            &.n5 {
                border-bottom-width: calc($width * 2);
                border-left-width: $height;
                border-right-width: $height;
            }

            &.n6 {
                border-bottom-width: calc($width * 2);
                border-left-width: $height;
            }
        }
    }
}

@mixin HomePageStylesheet() {
    #home-page {
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            flex-direction: column;

            #teaser-section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                #teaser-section-text {
                    h1 {
                        font-family: "PlaywriteCU-Regular", sans-serif;
                    }

                    p {
                        font-family: serif;
                    }
                }

                #camera {
                    $camera_bg: #fff;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $camera_bg;
                    position: relative;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;

                    #view-finder {
                        position: absolute;
                        transform: translateX(-50%);
                        background-color: $camera_bg;
                    }

                    #camera-shutter {
                        $width: 200px; // original = 500px
                        $height: $width;

                        width: $width;
                        height: $height;
                        position: relative;
                        overflow: hidden;

                        #lens {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: inherit;
                            height: inherit;
                            border-radius: 50%;
                            outline: solid calc($width / 2) $camera_bg;
                            z-index: 2;
                        }

                        .cover {
                            position: absolute;
                            width: 0;
                            height: 0;
                            background-color: transparent;

                            &.n1 {
                                // top: -750px;
                                top: -150%; // (-750px / 500px BR) * 100
                                left: 0%;
                                border-top: 0px solid transparent;
                                border-bottom: calc($width * 2) solid #1e1e1e;
                                border-left: 0px solid transparent;
                                border-right: $height solid transparent;
                                // transform: translate(0, -200px);
                                transform: translate(0, -20%); // Y: (-200px / 1000px BB) * 100
                            }

                            &.n2 {
                                // top: -250px;
                                // left: -1px;
                                top: -50%; // (-250px / 500px BR) * 100
                                left: -0.001%; // (-1px / 1000px BT) * 100
                                border-top: calc($width * 2) solid #151619;
                                border-bottom: 0px solid transparent;
                                border-left: $height solid transparent;
                                border-right: $height solid transparent;
                                // transform: translate(230px, 0px);
                                transform: translate(23%, 0px); // X: (230px / 1000px BT) * 100
                            }

                            &.n3 {
                                // top: -250px;
                                // left: 0px;
                                top: -50%; // (-250px / 500px BR) * 100
                                left: 0%;
                                border-top: calc($width * 2) solid transparent;
                                border-bottom: 0px solid transparent;
                                border-left: 0px solid transparent;
                                border-right: $height solid #16181c;
                                // transform: translate(230px, 0);
                                transform: translate(46%, 0); // X: (230px / 500px BR) * 100
                            }

                            &.n4 {
                                // top: 250px;
                                // left: 250px;
                                top: 50%; // (250px / 500px BR) * 100
                                left: 25%; // (250px / 1000px BB) * 100
                                border-top: 0px solid transparent;
                                border-bottom: calc($width * 2) solid transparent;
                                border-left: 0px solid transparent;
                                border-right: $height solid #232329;
                                // transform: translate(-140px, 200px);
                                transform: translate(-28%, 20%); // X: (-140px / 500px BR) * 100, Y: (200px / 1000px BB) * 100
                            }

                            &.n5 {
                                // top: 250px;
                                // left: -252px;
                                top: 50%; // (250px / 500px BR) * 100
                                left: -50.4%; // (-252px / 500px BL) * 100
                                border-top: 0px solid transparent;
                                border-bottom: calc($width * 2) solid #1a1b1d;
                                border-left: $height solid transparent;
                                border-right: $height solid transparent;
                                // transform: translate(-240px, -12px);
                                transform: translate(-24%, -1.2%); // X: (-240px / 1000px BB) * 100, Y: (-12px / 1000px BB) * 100
                            }

                            &.n6 {
                                // top: 250px;
                                // left: -250px;
                                top: 50%; // (250px / 500px BL) * 100
                                left: -50%; // (-250px / 500px BL) * 100
                                border-top: 0px solid transparent;
                                border-bottom: calc($width * 2) solid transparent;
                                border-left: $height solid #17171a;
                                border-right: 0px solid transparent;
                                // transform: translate(-120px, -200px);
                                transform: translate(-24%, -20%); // X: (-120px / 500px BL) * 100, Y: (-200px / 1000px BB) * 100
                            }
                        }

                        .teaser-image {
                            height: 100%;
                            width: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;

                            &.hide {
                                display: none;
                            }
                        }
                    }
                }

                // RESPONSIVENESS
                @media screen and (min-width: 250px) {
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    #teaser-section-text {
                        text-align: center;
                        margin-top: 30px;

                        h1 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }

                    #camera {
                        // hide camera background
                        background-color: #fff;
                        border-color: transparent;
                        box-shadow: none;

                        #view-finder {
                            display: none;
                        }

                        #camera-shutter {
                            #lens {
                                outline-color: #fff;
                            }
                        }

                        // styles
                        margin-top: 25px;
                    }
                }

                @media screen and (min-width: 350px) {
                    #teaser-section-text {
                        margin-top: 30px;

                        h1 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    #camera {
                        @include cameraShutterSize(250px);
                    }
                }

                @media screen and (min-width: 450px) {
                    #teaser-section-text {
                        margin-top: 30px;

                        h1 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 20px;
                        }
                    }

                    #camera {
                        margin-top: 35px;

                        @include cameraShutterSize(300px);
                    }
                }

                @media screen and (min-width: 650px) {
                    #teaser-section-text {
                        margin-top: 50px;

                        h1 {
                            font-size: 30px;
                        }

                        p {
                            font-size: 25px;
                        }
                    }

                    #camera {
                        margin-top: 50px;

                        @include cameraShutterSize(350px);
                    }
                }

                @media screen and (min-width: 900px) {
                    flex-direction: row;
                    padding: 150px 0 100px;

                    #teaser-section-text {
                        margin: 0;
                        text-align: left;
                    }

                    #camera {
                        margin: 0;
                        margin-left: 60px;
                    }
                }

                @media screen and (min-width: 1200px) {
                    #teaser-section-text {
                        h1 {
                            font-size: 40px;
                        }

                        p {
                            font-size: 24px;
                        }
                    }

                    #camera {
                        margin-left: 100px;

                        @include cameraShutterSize(400px);
                    }
                }

                @media screen and (min-width: 1400px) {
                    #camera {
                        margin-left: 150px;

                        @include cameraShutterSize(500px);
                    }
                }

                @media screen and (min-width: 1800px) {
                    #camera {
                        $camera_bg: #25282d;

                        // display camera background
                        background-color: $camera_bg;
                        border-color: $camera_bg;
                        border-radius: 50px;
                        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
                        padding: 130px 300px 50px;

                        #view-finder {
                            display: block;
                            width: 500px;
                            height: 250px;
                            top: -14%;
                            left: 50%;
                            border-top-left-radius: 100px;
                            border-top-right-radius: 100px;
                            background-color: $camera_bg;
                        }

                        #camera-shutter {
                            #lens {
                                outline-color: $camera_bg;
                            }
                        }

                        // styles
                        @include cameraShutterSize(450px);
                    }
                }

                @media screen and (min-width: 2000px) {
                    padding: 7.5vw 0 5vw;

                    #teaser-section-text {
                        h1 {
                            font-size: 2vw;
                        }

                        p {
                            font-size: 1.2vw;
                        }
                    }

                    #camera {
                        margin-left: 7.5vw;
                        border-radius: 4.76% / 7.9365%; // ((50px / width) * 100) / ((50px / height) * 100)  NOTE: look at the dimensions of the target element for screen width 1800px in Chrome's developer console
                        box-shadow: 0.5vw 0.5vw 0.5vw rgba(0,0,0,0.5);
                        padding: 6.5vw 15vw 2.5vw;

                        #view-finder {
                            width: 25vw;
                            height: 12.5vw;
                            top: -14%;
                            left: 50%;
                            border-top-left-radius: 20% / 40%; // see formula above
                            border-top-right-radius: 20% / 40%; // see formula above
                        }

                        // styles
                        @include cameraShutterSize(22.5vw);
                    }
                }
            }

            #testimonials-section {
                background-color: #eeeeee;
                display: flex;
                font-family: serif;

                .testimonial {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .client-picture {
                        border-radius: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    p {
                        font-style: italic;
                    }
                }

                // RESPONSIVENESS
                @media screen and (min-width: 250px) {
                    flex-direction: column;
                    margin-top: 100px;
                    padding: 60px 0 40px;

                    .testimonial {
                        padding: 0 20px;

                        &:not(:last-child) {
                            margin-bottom: 160px;
                        }

                        .client-picture {
                            width: 150px;
                            height: 150px;
                            margin-bottom: 50px;
                        }

                        q {
                            margin-bottom: 30px;
                            font-size: 18px;
                            line-height: 150%;
                        }

                        p {
                            font-size: 20px;
                        }
                    }
                }

                @media screen and (min-width: 350px) {
                    .testimonial {
                        padding: 0;

                        &:not(:last-child) {
                            margin-bottom: 140px;
                        }

                        q {
                            width: 80%;
                            max-width: 700px;
                        }
                    }
                }

                @media screen and (min-width: 450px) {
                    .testimonial {
                        .client-picture {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }

                @media screen and (min-width: 1200px) {
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 100px 80px 40px;

                    .testimonial {
                        margin: 0;
                        height: 100%;

                        &:not(:last-child) {
                            margin: 0;
                            margin-right: 100px;
                        }

                        q {
                            width: 100%;
                            margin-bottom: 50px;
                            max-width: none;
                        }

                        p {
                            margin-top: auto;
                        }
                    }
                }

                @media screen and (min-width: 1400px) {
                    .testimonial {
                        .client-picture {
                            width: 250px;
                            height: 250px;
                        }
                    }
                }

                @media screen and (min-width: 2000px) {
                    padding: 5vw 4vw 2vw;

                    .testimonial {
                        .client-picture {
                            width: 12.5vw;
                            height: 12.5vw;
                            margin-bottom: 2.5vw;
                        }

                        &:not(:last-child) {
                            margin-right: 5vw;
                        }

                        q {
                            font-size: 0.9vw;
                            margin-bottom: 2.5vw;
                        }

                        p {
                            font-size: 1vw;
                        }
                    }
                }
            }

            #services-section {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                font-family: serif;

                h1 {
                    margin: 0 auto;
                    font-family: "PlaywriteCU-Regular", sans-serif;
                    color: #d2b92b;
                }

                p {
                    line-height: 150%;
                }

                #services {
                    display: flex;
                    flex-direction: column;

                    ul {
                        display: flex;
                        list-style: none;

                        li {
                            margin: 0 auto;
                        }
                    }
                }

                // RESPONSIVENESS
                @media screen and (min-width: 250px) {
                    align-items: center;
                    margin-top: 50px;

                    h1 {
                        font-size: 22px;
                    }

                    p {
                        width: 85%;
                        font-size: 18px;
                        margin-bottom: 60px;
                    }

                    #services {
                        margin-top: 30px;
                        margin-bottom: 60px;

                        ul {
                            flex-direction: column;
                            margin: 0;
                            padding: 0;

                            li {
                                font-size: 18px;
                                margin-bottom: 40px;
                            }
                        }
                    }
                }

                @media screen and (min-width: 500px) {
                    h1 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 20px;
                    }

                    #services {
                        ul {
                            li {
                                font-size: 20px;
                            }
                        }
                    }
                }

                @media screen and (min-width: 700px) {
                    margin-top: 70px;

                    p {
                        margin-top: 20px;
                        margin-bottom: 80px;
                    }

                    #services {
                        ul {
                            flex-direction: row;
                            justify-content: center;
                            margin-bottom: 20px;

                            li {
                                &:not(:last-child) {
                                    margin-right: 60px;
                                }
                            }
                        }
                    }
                }

                @media screen and (min-width: 800px) {
                    #services {
                        ul {
                            li {
                                &:not(:last-child) {
                                    margin-right: 80px;
                                }
                            }
                        }
                    }
                }

                @media screen and (min-width: 1000px) {
                    max-width: 1000px;

                    h1 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 22px;
                    }

                    #services {
                        ul {
                            li {
                                font-size: 22px;
                            }
                        }
                    }
                }

                @media screen and (min-width: 2000px) {
                    margin-top: 3.5vw;
                    max-width: 50vw;

                    h1 {
                        font-size: 1.5vw;
                    }

                    p {
                        font-size: 1.1vw;
                        margin-top: 1vw;
                        margin-bottom: 4vw;
                    }

                    #services {
                        ul {
                            margin-bottom: 1vw;

                            li {
                                font-size: 1.1vw;

                                &:not(:last-child) {
                                    margin-right: 4vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}