@mixin MyWorkPageStylesheet() {
    #my-work-page {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;

        main {
            display: flex;

            // RESPONSIVENESS
            @media screen and (min-width: 250px) {
                padding: 15px 10px 20px;
                flex-direction: column;
                align-items: center;

                .image-column {
                    width: 80%;
                    max-width: 300px;

                    img {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }
            }

            @media screen and (min-width: 450px) {
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                padding-top: 10px;

                .image-column {
                    $image_spacing: 10px;

                    width: 100%;
                    max-width: 300px;

                    &:not(:last-child) {
                        margin-right: $image_spacing;
                    }

                    img {
                        margin-bottom: $image_spacing;
                    }
                }
            }

            @media screen and (min-width: 1000px) {
                padding: 30px 0 50px;

                .image-column {
                    $image_spacing: 15px;

                    &:not(:last-child) {
                        margin-right: $image_spacing;
                    }

                    img {
                        margin-bottom: $image_spacing;
                    }
                }
            }
        }
    }
}