@import 'Navbar';
@import 'HomePageStylesheet';

@font-face {
    font-family: PlaywriteCU-Regular;
    src: url('/fonts/PlaywriteCU-Regular.woff') format('woff'); // relative to public folder
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    #root {
        @include Navbar();

        @include HomePageStylesheet();
    }

    @media screen and (max-width: 249px) {
        display: none;
    }
}