@import 'Navbar';
@import 'Footer';
@import 'HomePageStylesheet';
@import 'MyWorkPageStylesheet';
@import 'AboutMePageStylesheet';
@import 'ContactPageStylesheet.scss';

@font-face {
    font-family: PlaywriteCU-Regular;
    src: url('/fonts/PlaywriteCU-Regular.woff') format('woff'); // relative to public folder
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;

    #root {
        @include Navbar();

        @include Footer();

        @include HomePageStylesheet();

        @include MyWorkPageStylesheet();

        @include AboutMePageStylesheet();

        @include ContactPageStylesheet();
    }

    @media screen and (max-width: 249px) {
        display: none;
    }
}